.begin-menu .box{
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
}
.begin-menu .box-climate{
  background-color: transparent !important;
  z-index: 0 !important;
}
.begin-menu .box-climate>div{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.begin-menu .box .slide-page{
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  -webkit-animation: slide-up 16s ease-out infinite;
          animation: slide-up 16s ease-out infinite;
}
.begin-menu .box .slide-page:first-child{
  top: 0;
  -webkit-animation-name: none;
          animation-name: none;
}
.begin-menu .box .slide-page:nth-of-type(2){
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.begin-menu .box .slide-page:nth-of-type(3){
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}
.begin-menu .box .slide-page>p{
  margin: 4px 0;
  padding-left: 8px;
}
.begin-menu .box .slide-page>p:first-child:before{
  content: attr(data-weather);
}
.begin-menu .box .slide-page>p:nth-of-type(2){
  padding-top: 10px;
  font-size: 20px;
}
.begin-menu .box .slide-page>span{
  position: absolute;
  top: 35px;
  left: 70px;
  font-size: 11px;
}
.begin-menu .box .slide-page>span:before{
  content: attr(data-max);
  display: block;
  margin-bottom: 2px;
}
.begin-menu .box .slide-page>span:after{
  content: attr(data-min);
}
.begin-menu .box .slide-page>p:nth-of-type(2):before{
  content: attr(data-tem);
}
.begin-menu .box-climate .act-hover:hover{
  outline: 2px solid rgba(255,255,255,0.5);
  outline-offset: -2px;
}
.begin-menu .box-climate .act-hover:active{
  outline-style: none;
}
.begin-menu .box-climate:hover *{
  -webkit-animation-play-state:paused;
          animation-play-state:paused;
}
.begin-menu .box-climate-sibling-0{
  -webkit-animation: invert-0 16s ease-out infinite;
          animation: invert-0 16s ease-out infinite;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -50px;
          transform-origin: 50% 50% -50px;
}
.begin-menu .box-climate-sibling-1{
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-animation: invert-1 16s ease-out infinite;
          animation: invert-1 16s ease-out infinite;
  -webkit-transform-origin: 50% 50% -50px;
          transform-origin: 50% 50% -50px;
}
.begin-menu .box-climate>div:after{
  content: attr(data-city);
  width: 100%;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 8px;
}
@-webkit-keyframes invert-0{
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  45% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  95% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100%{
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@keyframes invert-0{
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  45% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  95% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100%{
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@-webkit-keyframes invert-1{
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  45% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  50% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  95% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100%{
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@keyframes invert-1{
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  45% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  50% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  95% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100%{
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@-webkit-keyframes slide-up {
  0% {
    top: 100%;
  }
  50%{
    top: 100%;
  }
  60%{
    top: 0;
  }
  100%{
    top: 0;
  }
}
@keyframes slide-up {
  0% {
    top: 100%;
  }
  50%{
    top: 100%;
  }
  60%{
    top: 0;
  }
  100%{
    top: 0;
  }
}
